<form action="/new" method="post">
    <div class="input-line">

        <label for="author-input">Author Name:</label>
        <input type="text" name="author" id="author-input">
    </div>
    <div class="input-line">
        <label for="message-input">Message:</label>
        <textarea type="text" name="message" id="message-input" placeholder="Insert message here">
        </textarea>
    </div>
    <button>Send</button>

</form>