<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <h1>
        <%= title %>
    </h1>
    <div class="messages">
        <% messages.forEach(message => { %>
         <%- include('components/message', {text: message.text, user: message.user, added:message.added, id: message.id, isDetailed: message.isDetailed}) %>
        <% }) %>
    </div>
    <div class="add-new-button">
        <a href="/new">

            <button>Add New Message</button>
        </a>
    </div>

    
</body>
</html>